<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level [%X{akkaSource}] : %m%n</pattern>
    </encoder>
  </appender>
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>var/logs/${HOSTNAME}_testapp.log</File>
    <encoder>
      <pattern>%date{ISO8601} %-5level [%X{akkaSource}] : %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>var/logs/${HOSTNAME}_testapp.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="metrics" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>var/logs/${HOSTNAME}_metrics.log</File>
    <encoder>
      <pattern>%date{ISO8601} %-5level [%X{akkaSource}] : %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>var/logs/${HOSTNAME}_metrics.log.%d{yyyy-MM-dd_HH}</fileNamePattern>
    </rollingPolicy>
  </appender>

  <!--
  <logger name="testapp.MetricsListener" level="INFO" additivity="false">
    <appender-ref ref="metrics"/>
  </logger>
  -->

  <root level="INFO">
    <!-- <appender-ref ref="R"/>  -->
    <appender-ref ref="stdout"/>
  </root>
</configuration>

